@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Spores!</h1>
    <p>Learn about mushrooms and their characteristics</p>
</div>


<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight">
        <div class="bg-light border-light" id="sidebar">
            <div class="sidebar-header text-center">Edible Mushrooms</div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Morels</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Chanterelles</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Puffballs</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Oyster Mushrooms</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Chicken of the Woods</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Hen of the Woods</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Lions Mane</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Turkey Tail</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Honey Mushroom</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Lobster Mushroom</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Black Trumpet</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Pheasant's Back'</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Wood Ear</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Reishi</a>
            </div>
        </div>
    </div>
    

    <div class="p-2 flex-fill bd-highlight">
        <img src="~/Images/SporesImg.png" class="rounded mx-auto d-block align-content-center" alt="SporesImg"><br />
        <p>
            This website will be used to help new foragers to identify the mushrooms in the area of Gainesville, FL and to
            learn about the different components of mushrooms. This will be for educational purposes only. This site is
            meant to help new foragers to rule out possibilities by having the user specify the characteristics of the
            unidentifies mushroom. Mushroom hunting can be an enjoyable experience; but please do not ingest any
            mushrooms that you cannot 100% positively ID. Be safe, and happy hunting!
        </p><br />
    </div>


    <div class="p-2 flex-fill bd-highlight">
        <div class="bg-light border-light" id="sidebar">
            <div class="sidebar-header text-center">Caps/Gills/Veils</div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Cap Shapes</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Cap Surfaces</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Cap Margins</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Gill Attachments</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Gill Spacing</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Veil and Annulus</a>
            </div>
        </div>
        <div class="mt-auto p-2 bd-highlight">
            <div class="bg-light border-light" id="bottom-sidebar">Common Apps:
                <div class="list-group list-group-flush">
                    <p>Fungi Identifier</p>
                    <p>Shrommify</p>
                    <p>ShroomID</p>
                </div>
            </div>
            
        </div>
    </div>
</div>   




